---
# Reusable task to get storage output from devices
# Can be included multiple times (initial check, post-cleanup re-check)

- name: Get storage directory information
  block:
    - name: Get Cisco NX-OS storage information
      cisco.nxos.nxos_command:
        commands:
          - "dir bootflash:"
      changed_when: false
      when: platform == 'nxos'

    - name: Get Cisco IOS-XE storage information
      cisco.ios.ios_command:
        commands:
          - "dir bootflash:"
      changed_when: false
      when: platform == 'ios'

    - name: Get FortiOS storage information
      fortinet.fortios.fortios_monitor_fact:
        vdom: "{{ vdom }}"
        selector: "system_status"
      when: platform == 'fortios'

    - name: Get Metamako storage information
      ansible.netcommon.cli_command:
        command: "dir /data"
      changed_when: false
      when: platform == 'metamako_mos'

    - name: Get Opengear storage information
      ansible.builtin.raw: "df -h /data"
      changed_when: false
      when: platform == 'opengear'
  register: storage_output
  when:
    - not ansible_check_mode
    - inventory_hostname != 'localhost'
