---
# DEPRECATED: This file is deprecated and will be removed in a future version
# Use storage-assessment.yml with validate_space: true instead
#
# Migration:
#   OLD: tasks_from: space-check, vars: {required_space_gb: X}
#   NEW: tasks_from: storage-assessment, vars: {validate_space: true, minimum_free_space_gb: X}
#
# This file now redirects to storage-assessment.yml for backwards compatibility

- name: Redirect to consolidated storage-assessment.yml
  ansible.builtin.include_tasks: storage-assessment.yml
  vars:
    validate_space: true
    minimum_free_space_gb: "{{ required_space_gb }}"

- name: Deprecation warning for space-check.yml
  ansible.builtin.debug:
    msg:
      - "WARNING: space-check.yml is deprecated"
      - "Please update to use: tasks_from: storage-assessment"
      - "With vars: validate_space: true, minimum_free_space_gb: {{ required_space_gb }}"
  when: show_debug | bool
